<h1>Movies!</h1>
<p>The most first movie is: <%= @first_movie.title %></p>
<p>It has <%= @first_vote_count %> votes!</p>
<p>My favorite movie is <%= @my_favorite.title %>
<p> It was released in <%= @my_favorite.year %>
<h2>My Favorite</h2>
